:root {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: rgba(137, 136, 135, 0.2);
}

#main {
	margin: 0;
	display: flex;
}

/* #inside {
	width: calc(100vw - 256px);
	height: 100vh;
	overflow: auto;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} */

.textLogo {
	width: 100%;
	display: flex;
	justify-content: center;
	/* padding-left: 1rem; */
	/* background-color: #1677ff92; */
	border-radius: 0 0 10px 10px;
	margin-bottom: 4rem;
}

/* .outlet {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
} */

.about {
	color: inherit;
	appearance: none;
	text-decoration: none;
	margin: 10px;
}

.centered {
	/* flex-grow: 1; */
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	gap: 1rem;
}

.full {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ant-table-wrapper {
	/* min-width: calc(100vw - 360px); */
}

/* Docs - Text Editor CSS */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #f3f3f3;
	margin: 0;
}

.container .ql-editor {
	width: 8.5in;
	min-height: 11in;
	padding: 1in;
	margin: 1rem;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
}

.container .ql-container.ql-snow {
	border: none;
	display: flex;
	justify-content: center;
}

.container .ql-toolbar.ql-snow {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #f3f3f3;
	border: none;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

/* hiding horizontal scroll bar */
/* .ant-table-content {
	-ms-overflow-style: none;
	scrollbar-width: none;
} */

/* .ant-table-content::-webkit-scrollbar {
	display: none;
} */

@page {
	margin: 1in;
}

@media print {
	body {
		background: none;
	}

	.container .ql-editor {
		width: 6.5in;
		height: 9in;
		padding: 0;
		margin: 0;
		box-shadow: none;
		align-self: flex-start;
	}

	.container .ql-toolbar.ql-snow {
		display: none;
	}
}

/* Miscrosoft Edge Password reveal Icon */
::-ms-reveal {
	display: none;
}

.ant-collapse-expand-icon {
	margin-top: 6px;
}

.ant-collapse-content-box {
	padding: 16px !important;
}

.goback-button {
	position: absolute;
	top: 8;
	left: 8;
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: 5;
}
.goback-button:hover {
	opacity: 1;
}

.ant-segmented-group {
	flex-wrap: wrap;
}
@media (min-width: 1260px) {
	.gridded {
		grid-template-columns: repeat(3, 1fr) !important;
	}
}

/* Navbar */

.navbar {
	padding-bottom: 1px;
	border-bottom: solid 1px #e8e8e8;
	background-color: white;
	box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
		0 6px 16px -11px rgba(0, 0, 0, 0.08);
	position: sticky;
	top: 0;
	/* margin-bottom: 20px; */
	z-index: 4;
	width: 100%;
}

.nav-header {
	background-color: white;
	border-bottom: 0;
	padding: 0 4px 0 24px;
}

.logo {
	width: 200px;
	float: left;
}

.logo a {
	display: inline-block;
	font-size: 20px;
	text-transform: capitalize;
}

.navbar-menu {
	width: 100%;
	float: left;
}
.navbar-menu .ant-layout-header {
	padding: 0 20px;
}

.navbar-menu .ant-menu-horizontal {
	border-bottom: 0;
}

.navbar-menu .ant-menu-item {
	padding-bottom: 0px;
}

.navbar-menu .leftMenu {
	float: left;
}

.navbar-menu .rightMenu {
	float: right;
	width: 84px;
}

.menuButton {
	float: right;
	height: 32px;
	/* padding: 6px; */
	/* margin-top: 14px; */
	display: none;
	background: none;
	/* margin-right: 10px; */
}

.ant-drawer-body {
	padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
	display: inline-block;
	width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
	border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
	border-bottom-color: transparent;
}

.username {
	display: none;
	margin-left: 8px;
}

@media (max-width: 767px) {
	.menuButton {
		display: block;
		margin-right: 10px;
	}
	.navbar-menu .rightMenu {
		display: none;
		float: left;
	}
	.navbar-menu .leftMenu {
		display: none;
	}

	.logo a {
		margin-left: -10px;
	}

	.ant-drawer-title > .brand-font {
		margin-bottom: 0;
	}

	.username {
		display: inline-block;
	}
}

/* Navbar End */

.headingTitle {
	font-size: 32px;
	font-weight: "bold";
	display: "flex";
	justify-content: "center";
}

.insideOutlet {
	width: 100%;
	min-height: calc(100vh - 66px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
}
