:root {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: rgba(137, 136, 135, 0.2);
}

#main {
	margin: 0;
	display: flex;
}

/* #inside {
	width: calc(100vw - 256px);
	height: 100vh;
	overflow: auto;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} */

.textLogo {
	width: 100%;
	display: flex;
	justify-content: center;
	/* padding-left: 1rem; */
	/* background-color: #1677ff92; */
	border-radius: 0 0 10px 10px;
	margin-bottom: 4rem;
}

/* .outlet {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
} */

.about {
	color: inherit;
	appearance: none;
	text-decoration: none;
	margin: 10px;
}

.centered {
	/* flex-grow: 1; */
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	gap: 1rem;
}

.full {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .gridded {
	display: grid;
	gap: 2rem;
	padding: 4rem;
	grid-template-columns: repeat(3, 1fr);
	grid-row-end: auto;
} */
.gridded .card {
	/* max-width: 256px; */
}
.ant-table-wrapper {
	min-width: calc(100vw - 360px);
}

/* Docs - Text Editor CSS */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #f3f3f3;
	margin: 0;
}

.container .ql-editor {
	width: 8.5in;
	min-height: 11in;
	padding: 1in;
	margin: 1rem;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
}

.container .ql-container.ql-snow {
	border: none;
	display: flex;
	justify-content: center;
}

.container .ql-toolbar.ql-snow {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #f3f3f3;
	border: none;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

/* hiding horizontal scroll bar */
.ant-table-content {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.ant-table-content::-webkit-scrollbar {
	display: none;
}

@page {
	margin: 1in;
}

@media print {
	body {
		background: none;
	}

	.container .ql-editor {
		width: 6.5in;
		height: 9in;
		padding: 0;
		margin: 0;
		box-shadow: none;
		align-self: flex-start;
	}

	.container .ql-toolbar.ql-snow {
		display: none;
	}
}

/* Miscrosoft Edge Password reveal Icon */
::-ms-reveal {
	display: none;
}

.ant-collapse-expand-icon {
	margin-top: 6px;
}

.ant-collapse-content-box {
	padding: 16px !important;
}

.goback-button {
	position: absolute;
	top: 8;
	left: 8;
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: 5;
}
.goback-button:hover {
	opacity: 1;
}

.ant-segmented-group {
	flex-wrap: wrap;
}
